@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
	color: white;
	cursor: pointer;
}
h1:hover{
  color:#00ff51;
}

p{
	color: black;
}
a{
	text-decoration: none;
	color: #00ff51;
	font-size: 1rem;
}
a:hover{
	
	text-decoration: underline #00ff51; 
}
li{
	list-style:none;
}

/* header*/

header{
	/*position:relative;
	padding: 0 2rem;*/
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  padding: 7px 5%;
   /* for transparency */
  background:rgba(0, 20, 217, 0.7) ;
 /* for glass effect which is going to be blur */
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* just to make sure header will stay on top of all */
  z-index:100 ;
}

.navbar{
	width: 100%;
	height: 60px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content:space-between;
	align-items:center;
}

.navbar .logo h1{
	font-size: 2rem;
	font-weight: bold;
}
.navbar .links{
	display:flex;
	gap :2rem;
}
.navbar .toggle_btn{
	color: white;
	font-size: 1.3re,;
	cursor: pointer;
	display: none;
}


/* drop down menu*/

.dropdown_menu{
	position: absolute;
	right:2rem;
	top:75px;
	width: 260px;
	height:0;
	background: rgba(174, 180, 231, 0.7);
	backdrop-filter: blur(20px);
	border-radius: 10px;
	overflow:hidden;
	transition:height 0.2s cubic-bazier(0.175,0.885,0.32, 1.275);
}

.dropdown_menu.open{
	height:200px;
}

.dropdown_menu li{
	padding:0.7rem;
	display: flex;
	justify-content: center;
	align-items:center;
}
@media (max-width: 992px){
	.navbar .links{
	  display: none;
	}
	
	.navbar .toggle_btn{
	  display: block;
	}
	
	.dropdown_menu{
	   display: block;
	}
}

